.LeftSide {
    position: absolute;
    width: 344px;
    height: 655px;
    left: 3px;
    top: 96px;
    text-align: right;
    background: rgba(72, 107, 200, 0.6);
}

.LoginAsEmployee {
    position: absolute;
    width: 236px;
    height: 61px;
    left: 56px;
    top: 40px;

    filter: drop-shadow(0px 4px 4px rgb);
}

.loginasemployeebutton>.loginasemployeebutton {
    position: absolute;
    width: 213px;
    height: 25px;
    left: 67px;
    top: 137px;

    font-family: 'Jua';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    backdrop-filter: blur(2px);


}

.LOGIN {
    position: absolute;
    width: 236px;
    height: 61px;
    left: 56px;
    top: 60px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.username {
    position: absolute;
    width: 236px;
    height: 61px;
    left: 1100px;
    top: 15px;
}

.logout {
    position: absolute;
    width: 80px;
    height: 60px;
    left: 1400px;
    top: 15px;
}

.ManagerRectangle {

    box-sizing: border-box;
    position: absolute;
    width: 235px;
    height: 69px;
    left: 0px;
    top: 100px;

    background: rgba(245, 245, 245, 0.88);
    border: 1px solid #000000;
    /* Drop Shadow */

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}



.Managerdropdown {

    position: absolute;
    width: 236px;
    height: 370px;
    left: 55px;
    top: 130px;

    background: rgba(72, 107, 200, 0.45);
    border-radius: 30px;
}

.HeadBox {
    position: absolute;
    width: 1517px;
    height: 96px;
    left: 0px;
    top: 0px;

    background: rgba(72, 107, 200, 0.45);
}

.UserNameBox {
    box-sizing: border-box;

    position: absolute;
    width: 236px;
    height: 40px;
    left: 1100px;
    top: 15px;

    background: rgba(245, 245, 245, 0.88);
    border: 1px solid #000000;
    /* Drop Shadow */

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.logoutbox {
    /* Rectangle 2 */


    box-sizing: border-box;

    position: absolute;
    width: 59px;
    height: 40px;
    left: 1400px;
    top: 15px;

    background: rgba(245, 245, 245, 0.88);
    border: 1px solid #000000;
    /* Drop Shadow */

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10
}

/* .MainScreen {
    position: absolute;
    width: 500px;
    height: 400px;
    left: 348px;
    top: 98px;
} */

.timesheet_container {
    height: 500px;
    margin-left: 360px;
    margin-bottom: 0px;
    border: #282c34;
    display: flex;
    flex-direction: row;

}

.timesheet_box {
    /* fill: solid rgba(140, 165, 236, 0.37); */
    border: 2px #61dafb;
    /* position: absolute; */
    background-color: rgba(140, 165, 236, 0.37);
    width: 252px;
    height: 296px;
    left: 837px;
    top: 550px;

    /* margin: auto; */
    /* margin: auto; */
    margin-top: 350px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 15px;
}


.dropdown-menu {
    /* box-sizing: border-box; */

    /* position: absolute; */
    /* width: 235px;
    height: 69px;
    left: 0px;
    top: 70px;

    font-family: 'Jua';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center; */
}

.ManagerRectangleMain {

    box-sizing: border-box;

    position: absolute;
    width: 236px;
    height: 61px;
    left: 0px;
    top: 20px;
    text-align: center;
    background: rgba(245, 245, 245, 0.88);
    border: 1px solid #000000;
    /* Drop Shadow */

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

